<!-- views/pages/home.html.erb -->

<div class="home-banner">

  <h1>
    <span id="banner-typed-text"></span>
  </h1>

  <h2>Play to find the character you love!</h2>
    <%= link_to "Start looking now", characters_path, class: "btn-main-yellow" %>
</div>

