//
#sw-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  alig-items: center;
  margin: 2rem auto;
}

.character-card {
  width: 8rem;
  height: 8rem;
  border: .1rem solid $yellow;
  border-radius: 5px;
  padding: .1rem 0;
  margin: .5rem auto;
  text-align:center;
  display: flex;
  justify-content: center;
  alig-items: center;

}

.character-card:hover {
  box-shadow: .4rem .4rem .4rem $yellow;
  transform: scale(1.1);
  font-weight: bolder;
}

.character-card>h3 {
  text-decoration: none;
  text-decoration-color: $yellow;
  color: $yellow;
  font-size: 2.4rem;
}

#sw-container a:-webkit-any-link {
   text-decoration: none;
   color: $yellow;
}
